<!DOCTYPE html>
<html>
<head>
    <title>Search for Gifs</title>
</head>
<body>
<h1>Search for Gifs</h1>

<form method="get" action="/search/{{ search_term }}">
    <label for="searchTerm">Enter search word:</label>
    <input type="text" id="searchTerm" name="searchTerm">
    <br><br>
    <input type="submit" value="Search">
</form>

<br>

{% if trending_clicked %}
    <a href="/trending"><b>Trending GIFs</b></a>
{% endif %}

{% if gifs is defined and gifs|length > 0 %}
    <h2>3 First GIFs Found:</h2>
    <li>
        {% for gif in gifs %}
            <li>
                <img src="{{ gif['images']['original']['url'] }}" alt="{{ gif['title'] }}">
            </li>
        {% endfor %}
    </li>
{% else %}
    <p>No GIFs found.</p>
{% endif %}
<br>
<a href="/">Back to Main Search Page</a>
<br>
</body>
</html>
