<!DOCTYPE html>
<html>
<head>
    <title>Trending GIFs</title>
</head>
<body>

<h1>3 Trending Gifs</h1>

<ul>
    {% for gif in gifs %}
        <ul>

            <img src="{{ gif['images']['original']['url'] }}" alt="{{ gif['title'] }}">
        </ul>
    {% endfor %}
</ul>

<a href="/">Back to Main Search Page</a>

</body>
</html>
